USE [ProductDB]
GO
/****** Object:  Table [Dim].[Product]    Script Date: 7/04/2024 6:14:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT 1 FROM sys.schemas WHERE name = 'Stage')
	EXEC('CREATE SCHEMA Stage');
IF NOT EXISTS (SELECT 1 FROM sys.schemas WHERE name = 'Dim')
	EXEC('CREATE SCHEMA Dim');

IF  exists(SELECT * FROM [INFORMATION_SCHEMA].[TABLES] WHERE [TABLE_SCHEMA]='Dim' and  [TABLE_NAME]='Product') 
	DROP TABLE Dim.Product

CREATE TABLE [Dim].[Product](
	[ProductAltKey] [varchar](50) NOT NULL,
	[PId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](255) NULL,
	[Price] [varchar](50) NULL,
	[Brand] [varchar](100) NULL,
	[OutOfStock] [bit] NULL,
	[Url] [varchar](500) NULL,
	[StratDate] [date] NULL,
	[EndDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[PId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [Dim].[Product] ON 

INSERT [Dim].[Product] ([ProductAltKey], [PId], [Name], [Price], [Brand], [OutOfStock], [Url], [StratDate], [EndDate]) VALUES (N'00005493-1875-5b43-8061-20c7d0cbe6b1', 1, N'Solid Men Polo Neck Grey T-Shirt', N'545', N'AXMA', 1, N'https://www.flipkart.com/axmann-solid-men-polo-neck-grey-t-shirt/p/itmf6zzugzete9nh?pid=TSHF6ZJMQHBFAMQP&lid=LSTTSHF6ZJMQHBFAMQPCZKYLV&marketplace=FLIPKART&srno=b_5_183&otracker=browse&fm=organic&iid=ff75deb1-5727-4528-90b8-13c43c011ec2.TSHF6ZJMQHBFAMQP.SEARCH&ssid=7f97jhf72o0000001612096497727', CAST(N'2024-04-07' AS Date), NULL)
INSERT [Dim].[Product] ([ProductAltKey], [PId], [Name], [Price], [Brand], [OutOfStock], [Url], [StratDate], [EndDate]) VALUES (N'0003c6ae-73c1-5f18-a5e6-778e5f7b8804', 2, N'Solid Men Round Neck Blue T-Shirt', N'999', N'T10 Spor', 0, N'https://www.flipkart.com/t10-sports-solid-men-round-neck-blue-t-shirt/p/itmf3ym9szz34gnu?pid=TSHEQ9SJKZSHKGYE&lid=LSTTSHEQ9SJKZSHKGYEVB8AVC&marketplace=FLIPKART&srno=b_5_173&otracker=browse&fm=organic&iid=1c1a4ea3-7a14-42e0-b13a-7daae3c62a14.TSHEQ9SJKZSHKGYE.SEARCH&ssid=4pdy8m4x7k0000001612412004853', CAST(N'2024-04-07' AS Date), NULL)
INSERT [Dim].[Product] ([ProductAltKey], [PId], [Name], [Price], [Brand], [OutOfStock], [Url], [StratDate], [EndDate]) VALUES (N'000636e4-07c0-5d26-adfd-f6114389edb7', 3, N'Men Slim Fit Checkered Cut Away Collar Casual Shirt', N'1049', N'ECKO Unl', 0, N'https://www.flipkart.com/ecko-unltd-men-checkered-casual-khaki-shirt/p/itm369fea7136ac2?pid=SHTFV5GHAZWWGCQH&lid=LSTSHTFV5GHAZWWGCQHTSTZWH&marketplace=FLIPKART&srno=b_7_259&otracker=browse&fm=organic&iid=707e928b-7b9a-4dfc-9ada-13276cc5d621.SHTFV5GHAZWWGCQH.SEARCH&ssid=j74o5w0x8w0000001612104155232', CAST(N'2024-04-07' AS Date), NULL)
GO
SET IDENTITY_INSERT [Dim].[Product] OFF
GO
IF  exists(SELECT * FROM [INFORMATION_SCHEMA].[TABLES] WHERE [TABLE_SCHEMA]='Stage' and  [TABLE_NAME]='Stage_Product') 
	DROP TABLE Stage.Stage_Product

CREATE TABLE Stage.Stage_Product(
	[ProductAltKey] [varchar](50) NOT NULL,
	[Name] [varchar](255) NULL,
	[Price] [varchar](50) NULL,
	[Brand] [varchar](100) NULL,
	[OutOfStock] [bit] NULL,
	[Url] [varchar](500) NULL)

INSERT INTO [Stage].Stage_Product
		SELECT [ProductAltKey]
			,[Name]
			,[Price]
			,[Brand]
			,[OutOfStock]
			,[Url]
FROM  [Dim].[Product]






		
 